<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zm.zmbletool">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--动态申请位置权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--经典蓝牙服务端-->
        <activity
            android:name=".ui.classicservice.ClassicServiceActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--经典蓝牙客户端-->
        <activity
            android:name=".ui.classicclient.ClassicClientActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--经典蓝牙搜索界面-->
        <activity
            android:name=".ui.classicclient.ClassicScanActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.classicclient.ClientSetUUIDActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.classicservice.ServiceSetUUIDActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--低功耗Ble界面-->
        <activity
            android:name=".ui.ble.BleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--低功耗Ble搜索界面-->
        <activity
            android:name=".ui.ble.BleScanActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.bleclient.BleClientActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.about.AboutActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <service android:name=".services.BluetoothLeService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a5300e0f43e4843d100026c" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="2361b7639d5bfd6239fb79b854abf7a4">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ZMBleTool" />
    </application>

</manifest>